# Binaries for programs and plugins
cmd/certificate-generator/certificate-generator
*.pem
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gen.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

#golang
.idea/

vendor/

